@use "../abstract/" as *;

.footer {
  padding-top: 5rem;
  background: $darkBlue;
  color: $light;
  @include mediaQuery($tablet) {
    padding-top: 2rem;
  }
  ul {
    li {
      &:hover {
        color: $secondary;
        transition: all 0.5s ease;
      }
    }
  }
  &__wrapper {
    @include flexAround;
    flex-wrap: wrap;
    @include mediaQuery($tablet) {
      @include grid(2, 3rem);
    }
    @include mediaQuery($mobile) {
      @include grid(1, 3rem);
    }
    h5 {
      margin-bottom: 1rem;
      @include mediaQuery($tablet) {
        margin-bottom: 2rem;
      }
    }
    ul li {
      margin-bottom: 1rem;
    }
  }
  &__contact {
    p {
      padding-top: 1rem;
      span {
        color: $secondary;
        margin-right: 5px;
      }
    }
  }
  &__social {
    form {
      display: flex;
      gap: 2rem;
      input {
        border: 1px solid $secondary;
        border-radius: 5rem;
        &::placeholder {
          color: #272729;
        }
      }
    }
    ul {
      display: flex;
      gap: 2rem;
      @include mediaQuery($mobile) {
        place-content: center;
      }
      li {
        @include mediaQuery($mobile) {
          margin: 2rem 0 0;
        }
        &:hover {
          color: $secondary;
          scale: 1.2;
          transition: all 0.5s ease;
        }
      }
    }
  }
  &__bottom {
    text-align: center;
    padding-block: 3rem;
    @include mediaQuery($tablet) {
      padding-block: 1rem;
    }
    @include mediaQuery($mobile) {
      padding-block: 0rem;
    }
  }
}
