@use "../abstract/" as *;
.header {
  background: $dark;
  color: $light;
  padding-block: 2rem;
  position: relative;
  z-index: 99999;
  @include mediaQuery($tablet) {
    position: fixed;
  width: 100%;
  padding-block: 1rem;
  }
  box-shadow: rgba(221, 29, 1, 0.3) 0px 1px 4px;

  &__wrapper {
    @include flexBetween;
    .toggle__menu {
      display: none;
      font-size: 3rem;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        color: $secondary;
      }
      @include mediaQuery($tablet) {
        display: block;
      }
    }
    .toggle__menu.open {
      color: $secondary;
      transition: all 0.5s ease;
      scale: 1.2;
    }
  }
  &__nav {
    display: flex;
    gap: 3rem;
    transition: all 0.5s ease;
    .active {
      color: $secondary;
      transition: all 0.5s ease;
    }
    @include mediaQuery($tablet) {
      position: absolute;
      top: 6.5rem;
      width: 100%;
      right: -1000rem;
      flex-direction: column;
      align-items: center;
      height: 90rem;
      overflow: hidden;
      background: $dark;
      padding-top: 3rem;
      transition: all 0.5s ease;
      // opacity: 0;
    }
    li {
      font-size: 2rem;
      &:hover {
        color: $secondary;
        transition: all 0.5s ease;
      }
    }
  }
  &__nav.open {
    // opacity: 100;
    right: 0;
    transition: all 0.5s ease;
  }
}
